workflows/voice-to-notes.json
{
  "name": "TryllAuto · Voice → Notes",
  "meta": {
    "n8nWorkflowId": "WFarxoRPXfxnrqsV",
    "version": "1.1 (append-only buffer, concurrency-safe)",
    "dataTables": {
      "notes_draft": "bpwNfJwc15sqXgeU (append-only: one row per voice line)",
      "notes_card": "vZ74meVqtdYSt1j0 (single draft-card pointer per session)"
    },
    "driveFolderId": "1o-8nIrmt7fSxkdc1iwxlFiCR1SkqiZqN",
    "models": { "transcribe": "voxtral-mini-2602 (Mistral)", "notes": "claude-sonnet-4-6 (Anthropic)" },
    "note": "Credentials are NOT exported by n8n. On import reattach: Telegram nodes -> @Tryllauto_bot; Transcribe Voxtral -> Mistral Bearer Auth; claude-sonnet-4-6 -> Anthropic (Tryll); Google Drive node -> Google Drive."
  },
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "nodes": [
    { "parameters": { "updates": ["message", "callback_query"], "additionalFields": {} }, "name": "Telegram Update", "type": "n8n-nodes-base.telegramTrigger", "typeVersion": 1.3, "position": [0, 96] },
    { "parameters": { "rules": { "values": [ { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1 }, "conditions": [ { "leftValue": "={{ $json.message.voice.file_id }}", "operator": { "type": "string", "operation": "exists", "singleValue": true } }, { "leftValue": "={{ $json.message.message_thread_id }}", "operator": { "type": "number", "operation": "equals" }, "rightValue": 7 } ], "combinator": "and" }, "renameOutput": true, "outputKey": "voice" }, { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1 }, "conditions": [ { "leftValue": "={{ $json.callback_query.data }}", "operator": { "type": "string", "operation": "equals" }, "rightValue": "save" } ], "combinator": "and" }, "renameOutput": true, "outputKey": "save" } ] }, "options": { "fallbackOutput": "none" } }, "name": "Route Update", "type": "n8n-nodes-base.switch", "typeVersion": 3.4, "position": [224, 96] },
    { "parameters": { "resource": "file", "fileId": "={{ $json.message.voice.file_id }}", "additionalFields": {} }, "name": "Get Voice File", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [448, 0] },
    { "parameters": { "method": "POST", "url": "https://api.mistral.ai/v1/audio/transcriptions", "authentication": "genericCredentialType", "genericAuthType": "httpBearerAuth", "sendBody": true, "contentType": "multipart-form-data", "bodyParameters": { "parameters": [ { "parameterType": "formBinaryData", "name": "file", "inputDataFieldName": "data" }, { "name": "model", "value": "voxtral-mini-2602" } ] }, "options": {} }, "name": "Transcribe Voxtral", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [672, 0] },
    { "parameters": { "operation": "insert", "dataTableId": { "__rl": true, "mode": "id", "value": "bpwNfJwc15sqXgeU" }, "columns": { "mappingMode": "defineBelow", "value": { "session": "={{ $(\"Telegram Update\").item.json.message.chat.id }}:{{ $(\"Telegram Update\").item.json.message.message_thread_id }}", "transcript": "={{ $(\"Transcribe Voxtral\").item.json.text }}", "chat_id": "={{ $(\"Telegram Update\").item.json.message.chat.id }}", "thread_id": "={{ $(\"Telegram Update\").item.json.message.message_thread_id }}" }, "schema": [ { "id": "session", "displayName": "session", "type": "string", "canBeUsedToMatch": true, "display": true, "required": false, "defaultMatch": false }, { "id": "transcript", "displayName": "transcript", "type": "string", "canBeUsedToMatch": true, "display": true, "required": false, "defaultMatch": false }, { "id": "chat_id", "displayName": "chat_id", "type": "string", "canBeUsedToMatch": true, "display": true, "required": false, "defaultMatch": false }, { "id": "thread_id", "displayName": "thread_id", "type": "number", "canBeUsedToMatch": true, "display": true, "required": false, "defaultMatch": false } ] } }, "name": "Insert Draft Row", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [896, 0] },
    { "parameters": { "resume": "timeInterval", "amount": 3, "unit": "seconds" }, "name": "Wait Debounce", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [1000, 0] },
    { "parameters": { "operation": "get", "dataTableId": { "__rl": true, "mode": "id", "value": "bpwNfJwc15sqXgeU" }, "matchType": "allConditions", "filters": { "conditions": [ { "keyName": "session", "condition": "eq", "keyValue": "={{ $(\"Telegram Update\").item.json.message.chat.id }}:{{ $(\"Telegram Update\").item.json.message.message_thread_id }}" } ] }, "returnAll": false, "limit": 1, "orderBy": true, "orderByColumn": "createdAt", "orderByDirection": "DESC" }, "name": "Get Latest", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [1000, 140] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 }, "conditions": [ { "id": "c1", "leftValue": "={{ $(\"Get Latest\").item.json.id }}", "operator": { "type": "number", "operation": "equals" }, "rightValue": "={{ $(\"Insert Draft Row\").item.json.id }}" } ], "combinator": "and" } }, "name": "Is Latest", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1000, 280] },
    { "parameters": { "operation": "get", "dataTableId": { "__rl": true, "mode": "id", "value": "bpwNfJwc15sqXgeU" }, "matchType": "allConditions", "filters": { "conditions": [ { "keyName": "session", "condition": "eq", "keyValue": "={{ $(\"Telegram Update\").item.json.message.chat.id }}:{{ $(\"Telegram Update\").item.json.message.message_thread_id }}" } ] }, "returnAll": true, "orderBy": true, "orderByColumn": "createdAt", "orderByDirection": "ASC" }, "name": "Get Draft", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [1120, 0], "alwaysOutputData": true },
    { "parameters": { "operation": "get", "dataTableId": { "__rl": true, "mode": "id", "value": "vZ74meVqtdYSt1j0" }, "matchType": "allConditions", "filters": { "conditions": [ { "keyName": "session", "condition": "eq", "keyValue": "={{ $(\"Telegram Update\").item.json.message.chat.id }}:{{ $(\"Telegram Update\").item.json.message.message_thread_id }}" } ] }, "limit": 1 }, "name": "Get Card", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [1360, 0], "executeOnce": true, "alwaysOutputData": true },
    { "parameters": { "mode": "manual", "assignments": { "assignments": [ { "id": "b1", "name": "session", "type": "string", "value": "={{ $(\"Telegram Update\").item.json.message.chat.id }}:{{ $(\"Telegram Update\").item.json.message.message_thread_id }}" }, { "id": "b2", "name": "chat_id", "type": "string", "value": "={{ $(\"Telegram Update\").item.json.message.chat.id }}" }, { "id": "b3", "name": "thread_id", "type": "number", "value": "={{ $(\"Telegram Update\").item.json.message.message_thread_id }}" }, { "id": "b4", "name": "count", "type": "number", "value": "={{ $(\"Get Draft\").all().length }}" }, { "id": "b5", "name": "old_card_id", "type": "string", "value": "={{ $(\"Get Card\").item.json.msg_id || 0 }}" } ] } }, "name": "Build Draft State", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1600, 0], "executeOnce": true },
    { "parameters": { "operation": "deleteMessage", "chatId": "={{ $json.chat_id }}", "messageId": "={{ $json.old_card_id }}" }, "name": "Delete Old Draft Msg", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1840, 0], "executeOnce": true, "onError": "continueRegularOutput" },
    { "parameters": { "chatId": "={{ $(\"Build Draft State\").item.json.chat_id }}", "text": "=📝 Черновик заметки · {{ $(\"Build Draft State\").item.json.count }} голосовых\nНажми «✅ Сохранить заметку», когда всё запишешь.", "replyMarkup": "inlineKeyboard", "inlineKeyboard": { "rows": [ { "row": { "buttons": [ { "text": "✅ Сохранить заметку", "additionalFields": { "callback_data": "save" } } ] } } ] }, "additionalFields": { "appendAttribution": false, "message_thread_id": "={{ $(\"Build Draft State\").item.json.thread_id }}" } }, "name": "Send Draft", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [2080, 0], "executeOnce": true },
    { "parameters": { "operation": "deleteRows", "dataTableId": { "__rl": true, "mode": "id", "value": "vZ74meVqtdYSt1j0" }, "matchType": "allConditions", "filters": { "conditions": [ { "keyName": "session", "condition": "eq", "keyValue": "={{ $(\"Build Draft State\").item.json.session }}" } ] } }, "name": "Clear Old Row", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [2320, 0], "alwaysOutputData": true, "executeOnce": true },
    { "parameters": { "operation": "insert", "dataTableId": { "__rl": true, "mode": "id", "value": "vZ74meVqtdYSt1j0" }, "columns": { "mappingMode": "defineBelow", "value": { "session": "={{ $(\"Build Draft State\").item.json.session }}", "msg_id": "={{ $(\"Send Draft\").item.json.result.message_id }}" }, "schema": [ { "id": "session", "displayName": "session", "type": "string", "canBeUsedToMatch": true, "display": true, "required": false, "defaultMatch": false }, { "id": "msg_id", "displayName": "msg_id", "type": "number", "canBeUsedToMatch": true, "display": true, "required": false, "defaultMatch": false } ] } }, "name": "Insert Card", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [2560, 0], "executeOnce": true },
    { "parameters": { "resource": "callback", "queryId": "={{ $json.callback_query.id }}", "additionalFields": { "text": "⏳ Делаю заметку…" } }, "name": "Answer Callback", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [448, 192], "onError": "continueRegularOutput" },
    { "parameters": { "operation": "editMessageText", "chatId": "={{ $(\"Telegram Update\").item.json.callback_query.message.chat.id }}", "messageId": "={{ $(\"Telegram Update\").item.json.callback_query.message.message_id }}", "text": "⏳ Делаю заметку…", "additionalFields": {} }, "name": "Edit To Processing", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [672, 192], "onError": "continueRegularOutput" },
    { "parameters": { "operation": "get", "dataTableId": { "__rl": true, "mode": "id", "value": "bpwNfJwc15sqXgeU" }, "matchType": "allConditions", "filters": { "conditions": [ { "keyName": "session", "condition": "eq", "keyValue": "={{ $(\"Telegram Update\").item.json.callback_query.message.chat.id }}:{{ $(\"Telegram Update\").item.json.callback_query.message.message_thread_id }}" } ] }, "returnAll": true, "orderBy": true, "orderByColumn": "createdAt", "orderByDirection": "ASC" }, "name": "Get Draft For Save", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [896, 192] },
    { "parameters": { "mode": "manual", "assignments": { "assignments": [ { "id": "j1", "name": "transcript", "type": "string", "value": "={{ $(\"Get Draft For Save\").all().map(i => i.json.transcript).join(\"\\n\\n\") }}" } ] } }, "name": "Join Lines", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1120, 192], "executeOnce": true },
    { "parameters": { "includeOtherFields": true, "assignments": { "assignments": [ { "id": "p1", "name": "system_prompt", "type": "string", "value": "Ты — ассистент, превращающий транскрипт голосового сообщения (встречи, звонка, лекции, заметки вслух) в **очень детальные** структурированные заметки на русском.\n\nЦель: человек через месяц открывает заметки и **восстанавливает картину без перечитывания транскрипта**. Тот, кто не слушал, понимает что говорили, кто что предлагал, какие аргументы звучали, какие решения приняли и почему.\n\n## Имя файла\nВ САМОЙ ПЕРВОЙ строке ответа верни HTML-комментарий со slug на английском snake_case (до 60 символов, только латиница/цифры/подчёркивания, без расширения):\n<!-- filename: meeting_topic_here -->\nСразу после этой строки — `## О чём`, без пустых строк и без преамбулы.\n\n## Принципы\n1. **Объём ≈ 30–50% от транскрипта.** Это не саммари — плотный структурированный пересказ почти без потерь. Лучше слишком детально, чем слишком кратко.\n2. **Фиксируй, не пересказывай.** Каждое число, имя, продукт, цитата, метрика, дата, сумма, процент, версия — в заметки. Никаких «обсудили цены» — пиши конкретные цены и условия.\n3. **Сохраняй причинно-следственное.** Не «решили X» — а «решили X потому что (1)…, (2)…».\n4. **Сохраняй разногласия и сомнения.** Возражения и их аргументы фиксируй; компромиссные/сомнительные решения отмечай явно.\n5. **Структура адаптивная.** Не выдумывай разделов, которых не было. «Надо подумать / проверить / не уверен» → открытые вопросы.\n\n## Что обязательно сохранять\n- **Имена** людей, компаний, продуктов, инструментов — с минимальным контекстом.\n- **Числа** — деньги, проценты, сроки, версии, размеры, метрики — с единицами.\n- **Термины и определения**, когда их объясняют.\n- **Команды, код, URL, пути** — в блоках с тройными апострофами.\n- **Конкретные примеры** — с содержанием, не «привёл пример».\n- **Аргументы за/против** для решений, включая отвергнутые варианты.\n- **Сроки, дедлайны, договорённости** — буквально.\n\n## Структура\n### Обязательно\n- `## О чём` — 3–6 пунктов-оглавление: карта тем (не выводы).\n- Далее темы как `##`/`###`. Bullet-листы для независимых фактов, параграфы где важна логика.\n### При наличии (не выдумывай)\n- `## Решения и Action Items` — каждое отдельным пунктом. Ответственный → `→ Имя`. Срок → `(к пятнице)`. Условие → `(если …)`.\n- `## Открытые вопросы` — без ответа / отложено / надо проверить.\n- `## Сильные цитаты` — дословно, в формате цитаты, с автором если ясно.\n- `## Контекст / Бэкграунд` — важные детали о компании/проекте/истории.\n### Не делать\n- Без «Выводы / Заключение / Резюме / В итоге».\n- Без «Спикер сказал…» — факты как факты; автора указывай только когда важно.\n- Без «и так далее» — перечисляй явно.\n- Не добавляй неуверенности, которой не было; не размывай уверенные факты.\n- Не объединяй разные пункты — лучше десять чётких пунктов, чем три рыхлых.\n\n## Стиль\n- **Русский** основной. Англ. названия/термины — латиницей как звучали (`GitHub`, `RAG`), не транслитерируй.\n- **жирный** — имена, ключевые термины, ответственные. *курсив* — нюансы/тон. Моноширинный — команды/пути/код.\n- Плохо расслышанное → `[неразборчиво]`.\n\n## Что вернуть\nТолько содержимое заметок: строка с filename-комментарием, сразу за ней `## О чём`, далее блоки. Без вступлений вроде «Конечно», без обёртки в markdown-блок." } ] } }, "name": "Note Prompt", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1360, 192], "executeOnce": true },
    { "parameters": { "method": "POST", "url": "https://api.anthropic.com/v1/messages", "authentication": "predefinedCredentialType", "nodeCredentialType": "anthropicApi", "sendBody": true, "specifyBody": "json", "jsonBody": "={ \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 8192, \"system\": {{ JSON.stringify($json.system_prompt) }}, \"messages\": [ {\"role\": \"user\", \"content\": {{ JSON.stringify($json.transcript) }} } ] }", "options": {} }, "name": "claude-sonnet-4-6", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1600, 192] },
    { "parameters": { "operation": "createFromText", "content": "={{ $json.content[0].text.replace(/^\\s*<!--\\s*filename:[^>]*-->\\s*\\n?/, \"\") }}", "name": "={{ ($json.content[0].text.match(/filename:\\s*([A-Za-z0-9_-]+)/)?.[1] || \"note\") }} ({{ $now.toFormat(\"yyyy-LL-dd HH-mm\") }}).md", "driveId": { "__rl": true, "mode": "list", "value": "My Drive" }, "folderId": { "__rl": true, "mode": "id", "value": "1o-8nIrmt7fSxkdc1iwxlFiCR1SkqiZqN" }, "options": {} }, "name": "Save Note To Drive", "type": "n8n-nodes-base.googleDrive", "typeVersion": 3, "position": [1840, 192] },
    { "parameters": { "operation": "editMessageText", "chatId": "={{ $(\"Telegram Update\").item.json.callback_query.message.chat.id }}", "messageId": "={{ $(\"Telegram Update\").item.json.callback_query.message.message_id }}", "text": "=✅ Заметка сохранена на Google Drive\nhttps://drive.google.com/file/d/{{ $(\"Save Note To Drive\").item.json.id }}/view", "additionalFields": {} }, "name": "Edit To Saved", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [2080, 192] },
    { "parameters": { "operation": "deleteRows", "dataTableId": { "__rl": true, "mode": "id", "value": "bpwNfJwc15sqXgeU" }, "matchType": "allConditions", "filters": { "conditions": [ { "keyName": "session", "condition": "eq", "keyValue": "={{ $(\"Telegram Update\").item.json.callback_query.message.chat.id }}:{{ $(\"Telegram Update\").item.json.callback_query.message.message_thread_id }}" } ] } }, "name": "Clear Draft Row", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [2320, 192] },
    { "parameters": { "operation": "deleteRows", "dataTableId": { "__rl": true, "mode": "id", "value": "vZ74meVqtdYSt1j0" }, "matchType": "allConditions", "filters": { "conditions": [ { "keyName": "session", "condition": "eq", "keyValue": "={{ $(\"Telegram Update\").item.json.callback_query.message.chat.id }}:{{ $(\"Telegram Update\").item.json.callback_query.message.message_thread_id }}" } ] } }, "name": "Clear Card Save", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [2560, 192] }
  ],
  "connections": {
    "Telegram Update": { "main": [[{ "node": "Route Update", "type": "main", "index": 0 }]] },
    "Route Update": { "main": [[{ "node": "Get Voice File", "type": "main", "index": 0 }], [{ "node": "Answer Callback", "type": "main", "index": 0 }]] },
    "Get Voice File": { "main": [[{ "node": "Transcribe Voxtral", "type": "main", "index": 0 }]] },
    "Transcribe Voxtral": { "main": [[{ "node": "Insert Draft Row", "type": "main", "index": 0 }]] },
    "Insert Draft Row": { "main": [[{ "node": "Wait Debounce", "type": "main", "index": 0 }]] },
    "Wait Debounce": { "main": [[{ "node": "Get Latest", "type": "main", "index": 0 }]] },
    "Get Latest": { "main": [[{ "node": "Is Latest", "type": "main", "index": 0 }]] },
    "Is Latest": { "main": [[{ "node": "Get Draft", "type": "main", "index": 0 }]] },
    "Get Draft": { "main": [[{ "node": "Get Card", "type": "main", "index": 0 }]] },
    "Get Card": { "main": [[{ "node": "Build Draft State", "type": "main", "index": 0 }]] },
    "Build Draft State": { "main": [[{ "node": "Delete Old Draft Msg", "type": "main", "index": 0 }]] },
    "Delete Old Draft Msg": { "main": [[{ "node": "Send Draft", "type": "main", "index": 0 }]] },
    "Send Draft": { "main": [[{ "node": "Clear Old Row", "type": "main", "index": 0 }]] },
    "Clear Old Row": { "main": [[{ "node": "Insert Card", "type": "main", "index": 0 }]] },
    "Answer Callback": { "main": [[{ "node": "Edit To Processing", "type": "main", "index": 0 }]] },
    "Edit To Processing": { "main": [[{ "node": "Get Draft For Save", "type": "main", "index": 0 }]] },
    "Get Draft For Save": { "main": [[{ "node": "Join Lines", "type": "main", "index": 0 }]] },
    "Join Lines": { "main": [[{ "node": "Note Prompt", "type": "main", "index": 0 }]] },
    "Note Prompt": { "main": [[{ "node": "claude-sonnet-4-6", "type": "main", "index": 0 }]] },
    "claude-sonnet-4-6": { "main": [[{ "node": "Save Note To Drive", "type": "main", "index": 0 }]] },
    "Save Note To Drive": { "main": [[{ "node": "Edit To Saved", "type": "main", "index": 0 }]] },
    "Edit To Saved": { "main": [[{ "node": "Clear Draft Row", "type": "main", "index": 0 }]] },
    "Clear Draft Row": { "main": [[{ "node": "Clear Card Save", "type": "main", "index": 0 }]] }
  }
}
