workflows/voice-to-notes.json
{
  "name": "TryllAuto · Voice → Notes",
  "meta": {
    "n8nWorkflowId": "WFarxoRPXfxnrqsV",
    "dataTable": { "name": "notes_draft", "id": "bpwNfJwc15sqXgeU" },
    "driveFolderId": "1o-8nIrmt7fSxkdc1iwxlFiCR1SkqiZqN",
    "note": "Credentials are NOT exported by n8n (no secrets in repo). On import, reattach: Telegram nodes -> @Tryllauto_bot credential; HTTP nodes (Transcribe Voxtral, Compose Note Mistral) -> Mistral Bearer Auth credential; Save Note To Drive -> Google Drive."
  },
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "nodes": [
    { "parameters": { "updates": ["message", "callback_query"], "additionalFields": {} }, "name": "Telegram Update", "type": "n8n-nodes-base.telegramTrigger", "typeVersion": 1.3, "position": [0, 96] },
    { "parameters": { "rules": { "values": [ { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1 }, "conditions": [ { "leftValue": "={{ $json.message.voice.file_id }}", "operator": { "type": "string", "operation": "exists", "singleValue": true } }, { "leftValue": "={{ $json.message.message_thread_id }}", "operator": { "type": "number", "operation": "equals" }, "rightValue": 7 } ], "combinator": "and" }, "renameOutput": true, "outputKey": "voice" }, { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1 }, "conditions": [ { "leftValue": "={{ $json.callback_query.data }}", "operator": { "type": "string", "operation": "equals" }, "rightValue": "save" } ], "combinator": "and" }, "renameOutput": true, "outputKey": "save" } ] }, "options": { "fallbackOutput": "none" } }, "name": "Route Update", "type": "n8n-nodes-base.switch", "typeVersion": 3.4, "position": [224, 96] },
    { "parameters": { "resource": "file", "fileId": "={{ $json.message.voice.file_id }}", "additionalFields": {} }, "name": "Get Voice File", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [448, 0] },
    { "parameters": { "method": "POST", "url": "https://api.mistral.ai/v1/audio/transcriptions", "authentication": "genericCredentialType", "genericAuthType": "httpBearerAuth", "sendBody": true, "contentType": "multipart-form-data", "bodyParameters": { "parameters": [ { "parameterType": "formBinaryData", "name": "file", "inputDataFieldName": "data" }, { "name": "model", "value": "voxtral-mini-latest" } ] }, "options": {} }, "name": "Transcribe Voxtral", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [672, 0] },
    { "parameters": { "operation": "get", "dataTableId": { "__rl": true, "mode": "id", "value": "bpwNfJwc15sqXgeU" }, "matchType": "allConditions", "filters": { "conditions": [ { "keyName": "session", "keyValue": "={{ $(\"Telegram Update\").item.json.message.chat.id }}:{{ $(\"Telegram Update\").item.json.message.message_thread_id }}" } ] }, "limit": 1 }, "name": "Get Draft", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [896, 0], "alwaysOutputData": true },
    { "parameters": { "assignments": { "assignments": [ { "id": "a1", "name": "new_transcript", "type": "string", "value": "={{ ($json.transcript ? $json.transcript + \"\\n\\n\" : \"\") + $(\"Transcribe Voxtral\").item.json.text }}" }, { "id": "a2", "name": "new_count", "type": "number", "value": "={{ ($json.voice_count || 0) + 1 }}" }, { "id": "a3", "name": "old_msg_id", "type": "string", "value": "={{ $json.draft_msg_id || 0 }}" }, { "id": "a4", "name": "session", "type": "string", "value": "={{ $(\"Telegram Update\").item.json.message.chat.id }}:{{ $(\"Telegram Update\").item.json.message.message_thread_id }}" }, { "id": "a5", "name": "chat_id", "type": "string", "value": "={{ $(\"Telegram Update\").item.json.message.chat.id }}" }, { "id": "a6", "name": "thread_id", "type": "number", "value": "={{ $(\"Telegram Update\").item.json.message.message_thread_id }}" } ] }, "options": {} }, "name": "Build Draft State", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1120, 0] },
    { "parameters": { "operation": "deleteMessage", "chatId": "={{ $json.chat_id }}", "messageId": "={{ $json.old_msg_id }}" }, "name": "Delete Old Draft Msg", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1344, 0], "onError": "continueRegularOutput" },
    { "parameters": { "chatId": "={{ $(\"Build Draft State\").item.json.chat_id }}", "text": "=📝 Черновик заметки · {{ $(\"Build Draft State\").item.json.new_count }} голосовых\n\n{{ $(\"Build Draft State\").item.json.new_transcript.slice(0, 300) }}…", "replyMarkup": "inlineKeyboard", "inlineKeyboard": { "rows": [ { "row": { "buttons": [ { "text": "✅ Сохранить заметку", "additionalFields": { "callback_data": "save" } } ] } } ] }, "additionalFields": { "appendAttribution": false, "message_thread_id": "={{ $(\"Build Draft State\").item.json.thread_id }}" } }, "name": "Send Draft", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1568, 0] },
    { "parameters": { "operation": "deleteRows", "dataTableId": { "__rl": true, "mode": "id", "value": "bpwNfJwc15sqXgeU" }, "matchType": "allConditions", "filters": { "conditions": [ { "keyName": "session", "keyValue": "={{ $(\"Build Draft State\").item.json.session }}" } ] }, "options": {} }, "name": "Clear Old Row", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [1792, 0], "alwaysOutputData": true },
    { "parameters": { "dataTableId": { "__rl": true, "mode": "id", "value": "bpwNfJwc15sqXgeU" }, "columns": { "mappingMode": "defineBelow", "value": { "session": "={{ $(\"Build Draft State\").item.json.session }}", "transcript": "={{ $(\"Build Draft State\").item.json.new_transcript }}", "voice_count": "={{ $(\"Build Draft State\").item.json.new_count }}", "draft_msg_id": "={{ $(\"Send Draft\").item.json.result.message_id }}", "chat_id": "={{ $(\"Build Draft State\").item.json.chat_id }}", "thread_id": "={{ $(\"Build Draft State\").item.json.thread_id }}" }, "schema": [ { "id": "session", "displayName": "session", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }, { "id": "transcript", "displayName": "transcript", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }, { "id": "voice_count", "displayName": "voice_count", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true }, { "id": "draft_msg_id", "displayName": "draft_msg_id", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true }, { "id": "chat_id", "displayName": "chat_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }, { "id": "thread_id", "displayName": "thread_id", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true } ] }, "options": {} }, "name": "Insert Draft Row", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [2016, 0] },
    { "parameters": { "resource": "callback", "queryId": "={{ $json.callback_query.id }}", "additionalFields": { "text": "⏳ Делаю заметку…" } }, "name": "Answer Callback", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [448, 192], "onError": "continueRegularOutput" },
    { "parameters": { "operation": "get", "dataTableId": { "__rl": true, "mode": "id", "value": "bpwNfJwc15sqXgeU" }, "matchType": "allConditions", "filters": { "conditions": [ { "keyName": "session", "keyValue": "={{ $(\"Telegram Update\").item.json.callback_query.message.chat.id }}:{{ $(\"Telegram Update\").item.json.callback_query.message.message_thread_id }}" } ] }, "limit": 1 }, "name": "Get Draft For Save", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [672, 192] },
    { "parameters": { "method": "POST", "url": "https://api.mistral.ai/v1/chat/completions", "authentication": "genericCredentialType", "genericAuthType": "httpBearerAuth", "sendBody": true, "specifyBody": "json", "jsonBody": "={ \"model\": \"mistral-small-latest\", \"messages\": [ {\"role\": \"system\", \"content\": \"Ты превращаешь расшифровку голосовых в аккуратную заметку на русском в Markdown. Структура: # короткий заголовок; затем 1-2 предложения summary; раздел ## Ключевые моменты со списком; если есть задачи — раздел ## Действия со списком. Только заметка, без преамбул.\"}, {\"role\": \"user\", \"content\": {{ JSON.stringify($json.transcript) }} } ] }", "options": {} }, "name": "Compose Note Mistral", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [896, 192] },
    { "parameters": { "operation": "createFromText", "content": "={{ $json.choices[0].message.content }}", "name": "=Заметка {{ $now.toFormat(\"yyyy-LL-dd HH-mm\") }}.md", "driveId": { "__rl": true, "mode": "list", "value": "My Drive" }, "folderId": { "__rl": true, "mode": "id", "value": "1o-8nIrmt7fSxkdc1iwxlFiCR1SkqiZqN" }, "options": {} }, "name": "Save Note To Drive", "type": "n8n-nodes-base.googleDrive", "typeVersion": 3, "position": [1120, 192] },
    { "parameters": { "operation": "editMessageText", "chatId": "={{ $(\"Telegram Update\").item.json.callback_query.message.chat.id }}", "messageId": "={{ $(\"Telegram Update\").item.json.callback_query.message.message_id }}", "text": "=✅ Заметка сохранена на Google Drive\nhttps://drive.google.com/file/d/{{ $(\"Save Note To Drive\").item.json.id }}/view\n\n{{ $(\"Compose Note Mistral\").item.json.choices[0].message.content.slice(0, 400) }}", "additionalFields": {} }, "name": "Edit To Saved", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1344, 192] },
    { "parameters": { "operation": "deleteRows", "dataTableId": { "__rl": true, "mode": "id", "value": "bpwNfJwc15sqXgeU" }, "matchType": "allConditions", "filters": { "conditions": [ { "keyName": "session", "keyValue": "={{ $(\"Telegram Update\").item.json.callback_query.message.chat.id }}:{{ $(\"Telegram Update\").item.json.callback_query.message.message_thread_id }}" } ] }, "options": {} }, "name": "Clear Draft Row", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [1568, 192] }
  ],
  "connections": {
    "Telegram Update": { "main": [[{ "node": "Route Update", "type": "main", "index": 0 }]] },
    "Route Update": { "main": [[{ "node": "Get Voice File", "type": "main", "index": 0 }], [{ "node": "Answer Callback", "type": "main", "index": 0 }]] },
    "Get Voice File": { "main": [[{ "node": "Transcribe Voxtral", "type": "main", "index": 0 }]] },
    "Transcribe Voxtral": { "main": [[{ "node": "Get Draft", "type": "main", "index": 0 }]] },
    "Get Draft": { "main": [[{ "node": "Build Draft State", "type": "main", "index": 0 }]] },
    "Build Draft State": { "main": [[{ "node": "Delete Old Draft Msg", "type": "main", "index": 0 }]] },
    "Delete Old Draft Msg": { "main": [[{ "node": "Send Draft", "type": "main", "index": 0 }]] },
    "Send Draft": { "main": [[{ "node": "Clear Old Row", "type": "main", "index": 0 }]] },
    "Clear Old Row": { "main": [[{ "node": "Insert Draft Row", "type": "main", "index": 0 }]] },
    "Answer Callback": { "main": [[{ "node": "Get Draft For Save", "type": "main", "index": 0 }]] },
    "Get Draft For Save": { "main": [[{ "node": "Compose Note Mistral", "type": "main", "index": 0 }]] },
    "Compose Note Mistral": { "main": [[{ "node": "Save Note To Drive", "type": "main", "index": 0 }]] },
    "Save Note To Drive": { "main": [[{ "node": "Edit To Saved", "type": "main", "index": 0 }]] },
    "Edit To Saved": { "main": [[{ "node": "Clear Draft Row", "type": "main", "index": 0 }]] }
  }
}
